<% provide(:title, "All series") %>

<div class="ui grid">
  <div class="fourteen wide column">
    <h1 class="ui center aligned">
        All Series
    </h1>
  </div>
  <div class="two wide column">
    <%= link_to 'Add Series', new_series_path, class: "ui fluid blue animated button"%>
  </div>
</div>

<div class="ui grid">
  <% @series.each do |series| %>
    <div class="four wide column">
      <div class="ui card" style="margin:10px 10px 10px 10px;">
        <% if true %>
          <div class="extra content">
            <div class="ui two buttons">
              <%= link_to 'Edit', edit_series_path(series.id), class: "ui basic green button" %>
              <%= link_to "Delete", series_path(series.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "ui basic red button" %>
            </div>
          </div>
        <% end %>
        <div class="content">
          <div class="header"><%= series.name %></div>
        </div>
        <div class="content">
          <h4 class="ui sub header">Summary</h4>
          <div class="ui small feed">
            <div class="event">
              <div class="content">
                <div class="summary">
                   Genre: <%= series.genre %>
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                   Country: <%= series.country %>
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                   Langauge: <%= series.language %>
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                   Number of seasons: <%= series.season.count %>
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                   <%= series.summary %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <%= link_to 'View all Seasons', show_all_seasons_path(:series => series.id), class: "ui fluid blue animated button"%>
        </div>
      </div>
    </div>
  <% end %>  
</div>
